{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">slideshow</i> {{ 'List of all slides'|trans({}, 'Modules.Mk_ResponsiveSlider.Admin') }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {% for slide in slides %}
          <div>{{ slide.getTitle() }}</div>
          <a href="{{ url('mk_responsiveslider_edit', {'slideId': slide.getId()}) }}">edit</a>
        {% endfor %}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <a class="btn btn-primary float-right" id="add-button" href="{{ addUrl }}">
          {{ 'Add' | trans({}, 'Admin.Actions') }}
        </a>
      </div>
    </div>
</div>
{% endblock %}
